# Global Docker Compose Variables
COMPOSE_PROJECT_NAME=cab-booking
COMPOSE_PROFILE=development

# Database Passwords
POSTGRES_PASSWORD=Thuan2903
MONGODB_ROOT_PASSWORD=admin123

# Network Configuration
NETWORK_NAME=cab-network