NODE_ENV=production
PORT=3007

DATABASE_URL = postgresql://postgres:password@postgres-pricing:5432/pricing_db
AI_SURGE_URL=http://ai-surge-service:4003

REDIS_ENABLED=true
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=123
BASE_PRICE_SEDAN=10000
BASE_PRICE_SUV=15000
BASE_PRICE_LUXURY=25000
MIN_DISTANCE=1
MAX_DISTANCE=100
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100