PORT=3006
NODE_ENV=production

# Postgres payment
DB_HOST=postgres-payment
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Thuan2903
DB_NAME=payment_db
DATABASE_URL = postgresql://postgres:password@postgres-payment:5432/payment_db
RABBITMQ_URL=amqp://rabbitmq:5672
RIDE_SERVICE_URL=http://ride-service:3005
PAYMENT_EXCHANGE=payment_events
# JWT
JWT_SECRET=123

# Stripe Test Key (Replace with your actual test key)
STRIPE_SECRET_KEY=
PUBLISHABLE_KEY=