NODE_ENV=development
PORT=3004
SERVICE_NAME=booking-service

# Database
MONGODB_URI=mongodb://mongodb:27017/cab_booking
MONGODB_NAME=cab_booking
REDIS_URL=redis://redis:6379

# Message Queue (RabbitMQ async)
RABBITMQ_URL=amqp://rabbitmq:5672

# JWT
JWT_SECRET=123
JWT_EXPIRES_IN=24h

# External Services (HTTP sync via Docker hostname)
AUTH_SERVICE_URL=http://auth-service:3001
RIDE_SERVICE_URL=http://ride-service:3005
PAYMENT_SERVICE_URL=http://payment-service:3006
PRICING_SERVICE_URL=http://pricing-service:3007
DRIVER_SERVICE_URL=http://driver-service:3003
USER_SERVICE_URL=http://user-service:3002
AI_MATCHING_URL=http://ai-matching-service:4001

# CORS
CORS_ORIGIN=*
