# Server Configuration
PORT=3001
NODE_ENV=production

# Postgres (use postgres-auth service)
DATABASE_URL=postgresql://postgres:Thuan2903@postgres-auth:5432/auth_db
# JWT Configuration
JWT_SECRET=123
JWT_EXPIRES_IN=7d

# Redis
REDIS_URL=redis://redis:6379

# CORS
ALLOWED_ORIGINS=*


